<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    RewriteRule ^([a-z]+)$ /index.php?section=$1
    RewriteRule ^musikstuecke/([a-z]+)$ /index.php?section=musikstuecke&musikstueck=$1
</IfModule>